<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ingreso</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <form>    
    <ion-row>
      <ion-col> 
        <ion-button (click)="mostrarFormularioOT()" type="submit" color="primary" expand="block">Ingresar Equipo</ion-button>       
        <ion-button [routerLink]="['/tipo-cliente']" type="submit" color="primary" expand="block">Cliente</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>