<ion-header>
  <ion-toolbar>
    <ion-title>registerSS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-row>
      <ion-col>
        <ion-button (click)="mostrarFormularioSSCC()" type="submit" color="primary" expand="block">Servicio al cliente</ion-button>
        <ion-button (click)="mostrarFormulario()" type="submit" color="primary" expand="block">hardware</ion-button>
        <ion-button (click)="mostrarFormulario()" type="submit" color="primary" expand="block">Software</ion-button>
        <ion-button (click)="mostrarFormulario()" type="submit" color="primary" expand="block">Ventas</ion-button>
        <ion-button (click)="mostrarFormulario()" type="submit" color="primary" expand="block">Admin</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
